<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3 class="new-header">Create a new listing</h3>
                <form method="POST" action="/listings" class="needs-validation" novalidate>
                    <div>
                        <label for="title" class="form-label">Title: </label>
                        <input class="form-control" type="text" name="listing[title]" placeholder="Enter title"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please provide a valid title.</div>
                    </div>
                    <br>
                    <div>
                        <label for="description" class="form-label">Description: </label>
                        <textarea class="form-control" name="listing[description]" placeholder="Enter description"
                            required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Please provide a description for your listing.</div>
                    </div>
                    <br>
                    <div>
                        <label for="image" class="form-label">Image URL: </label>
                        <input class="form-control" type="text" name="listing[image][url]"
                            placeholder="Enter image URL/Link (Optional)">
                    </div>
                    <br>
                    <div>
                        <label for="location" class="form-label">Location: </label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="Enter location"
                            required>
                        <div class="valid-feedback">Location looks good!</div>
                        <div class="invalid-feedback">Please provide a valid location.</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="price" class="form-label">Price: </label>
                            <input class="form-control" type="number" name="listing[price]" placeholder="Enter price"
                                required min="0">
                            <div class="valid-feedback">Price looks good!</div>
                            <div class="invalid-feedback">Please provide a valid price.</div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label for="country" class="form-label">Country: </label>
                            <input class="form-control" type="text" name="listing[country]" placeholder="Enter country"
                                required>
                            <div class="valid-feedback">Country looks good!</div>
                            <div class="invalid-feedback">Please provide a valid country name.</div>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-secondary add-btn">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="/JS/script.js"></script>
    </body>